h1= bot.name
    - if (bot.uid == session.uid)
        div
          form(action='#', method='POST')
            textarea(cols='80', rows='10', name='code')= bot.code
            br
            input(type='submit', value='Save')
          form(action='#', method='GET')
            input(type='submit', name='run', value='Run')
    - else
        div (Code unavailable)
