h1= title
div#data
    != trace

script
    var datadiv = document.getElementById("data");
    data = datadiv.innerHTML.split("\\n");
    var output = "";
    // datadiv.innerHTML = "";
    
    for(var i = 0; i < data.length; i++){
        if(data[i].indexOf("&gt;") > 0 && data[i].indexOf("&gt;") < 5){
            // Cards in pile
            output += "<div class='state'><span class='pile'>" + data[i].split("&gt;")[0] + "</span>";
        }else if(data[i].indexOf(":") > 0){
            j = 1;
            output += "<div class='hand0'>" + data[i].replace(/:/g, function(){return "</div><div class='hand" + j++ +"'>"}) + "</div>";
        }else if(data[i].indexOf("Play") == 0){
            output += "<div class='play'>" + data[i] + "</div>";
        }else if(data[i].indexOf("BS") == 0){
            output += "<div class='bs'>" + data[i] + "</div>";
        }else if(data[i] == "<br>"){
        
        }else{
            console.log(data[i]);
        }
    }
    datadiv.innerHTML = output;
    
