form(action:redirectUrl, method:"POST")
    label(for:"user") Name
    input(type:"text", name:"user")#user
    
    br
    
    label(for:"password") Password
    input(type:"password", name:"password")#password
    
    br
    
    input(type:"Submit", value:"Login")#submit

