form(action:redirectUrl, method:"POST")
    label(for:"user") Username
    input(type:"text", name:"user")#user
    
    br
    
    label(for:"password") Password
    input(type:"password", name:"password")#password
    
    br
    
    label(for:"verify") Verify Password
    input(type:"password", name:"verify")#verify
    
    br
    
    input(type:"Submit", value:"Login")#submit

